Django>=6.0
celery
celery-progress
celery[redis]
django-allauth[socialaccount]>=65.13.0
django-anymail[mailgun]
django-celery-beat
django-environ
django-htmx
django-vite>=3.1.0
django-waffle
djangorestframework
drf-spectacular
pillow>=12.3.0
psycopg
redis
gunicorn
psycopg[c]
whitenoise>=6.12.0
